*.cbp
*.config
*.creator*
*.cxx
*.directory
*.files
*.gch
*.idea
*.includes
*.index
*.kate-swp
*.ninja*
*.orig
*.prg
*.pro
*.pro.user.*
*.pyc
*.pyc
*.pyo
*.qmlproject.user.*
*.rec
*.swo
*.swp
*.taghl
*.ts
*.user
*~
.clang_complete
.custom_vimrc
.media_cache
.pydevproject
.rgrc
.settings
.vimrc*
.vscode
/*.a
/*.map
/.buildSettings
/.cproject
/.dep.inc
/.project
/Makefile
/Makefile-stingray.mk
/build
/data
/data/persistent
/etc/build
/etc/install
/hudson.sh
/install_manifest.txt
/patches/
/renamer.sh
/stlinuxtv
/tags
/tags.new
/types_pl.vim
/ui.argile/data
/ui.argile/data/persistent
/ui.shell/Makefile
/ui.shell/build
/ui/build
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
deploy/build
deploy/install
get_distcc_hosts.sh
nbproject/
stingray/app/DisabledFeatures.h
stingray/version.cpp
types_*.vim
ui.argile/build
ui.argile/native/argile/ui.*
ui.argile/system
ui.argile/system/system__bootloaderEnv
ui.argile/ts
stingray/settings/_FactoryClasses.cpp
stingray/settings/config/DaemonConfigManager.cpp
Catch2-build
cmake-build-debug/
src/versioning/ProjectVersion.h
install/
